@font-face {
    font-family: tropical-Asian;
    src: url(assests/fonts/TropicalAsianDEMO-Regular.ttf);
}

@font-face {
    font-family: hello-tropical;
    src: url(assests/fonts/HelloTropical.ttf);
}

:root {
    letter-spacing: 0.5px;
}

::selection {
    user-select: none;    
}

::selection:not(img, button) {
    color: #F9FAF8;
    background-color: #1F2937;
}


body {
    font-family: tropical-Asian, hello-tropical;
    margin: 0px;
    box-sizing: border-box;
}

.header {
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    padding: 10px 10em;
    padding-top: 20px;
    margin: 0px;
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;

    max-width: 10vw;
}

.header-links {
    display: flex;
    gap: 15px;
}

.body-intro {
    height: 15em;
    background-color: #1F2937;
    display: flex;
    padding: 6em 10em;
    gap: 28px;
}

.body-intro-text {
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
}

.body-intro-main-text {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin-bottom: 5px;
    flex: 1;
    word-wrap: break-word;
}

.body-intro-secondary-text {
    font-size: 18px;
    color: #cfcfcf;
    flex: 1 1 auto;
    word-wrap: break-word;
    text-overflow: ellipsis;
}

.body-intro > img {
    box-shadow: 0 10px 30px 5px rgba(244, 244, 244, 0.2);
    border-radius: 10px;

    width: calc(30vw + 50px);

    cursor: pointer;
    transition: transform 0.3s;
}

.body-intro > img:hover {
    transform: scale(1.05);
}

button {
    border-radius: 8px;
    border: 0px;
    background-color: #3882F6;
    color: white;
    width: 10vw;
    aspect-ratio: 35/9;
    padding: 5px;
    font-weight: 600;
    font-size: 1.1rem !important;
    letter-spacing: 0.1em;
}


.body-content {
    display: flex;
    flex-flow: column wrap;
    padding: 2em;
    align-items: center;
}

.body-content-title {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin-bottom: 32px;
}

.image-container {
    display: flex;
    flex: 0 0 auto;
    gap: 2em;
}

.image-item > img {
    flex: 1 0 auto;
    box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;

    max-width: 15vw;

    cursor: pointer;
    transition: transform 0.3s;
}

.image-item > img:hover {
    transform: scale(1.05);
}

.text-under-image {
    text-align: center;
}

.body-quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 5em 15em;
}

.quote {
    flex: 1 1 auto;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    margin: 0px;
}

.quote-by {
    flex: 1 1 auto;
    text-align: end;
    font-weight: 700;
    font-size: 24px;
}

.body-action {
    background-color: #3882F6;
    margin: 4em 10em;
    border-radius: 5px;
    padding: 28px 5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action-box-main-text {
    font-size: 18px;
    font-weight: 700;
    color: #F9FAF8;
}

.action-box-secondary-text {
    color: #cfcfcf;
}

/* Menu.js */

.menu-container {
    margin: 3vh 2vw;
    display: grid;

    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: 1fr;
    gap: 1.5vw;
}

.menu-card {
    background-color: #1F2937;
    color: #fff;
    border-radius: 2vh;

    display: grid;
    grid-template-rows: 2fr 4fr 2fr;

    transition: transform 0.3s;
}

.menu-card:hover {
    transform: scale(1.05);   
}

.menu-card-title {
    grid-row : 1 / 2;
    font-size: clamp(15px, 1.8rem, 35px);

    display: flex;
    justify-content: center;
    align-items: center;
}

.menu-card-details {
    font-size: clamp(13px, 1.3rem, 30px);
    opacity: 0.8;

    display: flex;

    padding: 2vh 2vw;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 2vh;
    
    grid-row : 2 / 3;
}

.menu-card-button {

    font-size: clamp(13px, 1.3rem, 30px);

    grid-row : 3 / 4;
    align-self: center;
    justify-self: center;
}   


/* button */

.menu-card .button {
    width: 13vw !important;
    text-align: center !important;
}

.body-action > button {
    width: 13vw;
    text-align: center;
    border: 0.5px solid #F9FAF8;
}

.button {
    --color: #fff;
    --border:2px;
    --slant:.5em;

    font-size: clamp(13px, 1rem, 40px);
    padding: 0.4em 1.2em;
    border: none;
    cursor: pointer;
    color: var(--color);
    background: 
       linear-gradient(to bottom left,var(--color)  50%,#0000 50.1%) top right,
       linear-gradient(to top   right,var(--color)  50%,#0000 50.1%) bottom left;
    background-size: calc(var(--slant) + 1.3*var(--border)) calc(var(--slant) + 1.3*var(--border));
    background-repeat: no-repeat;
    box-shadow:
      0 0 0 200px inset var(--s,#0000),
      0 0 0 var(--border) inset var(--color);
    clip-path: 
        polygon(0 0, calc(100% - var(--slant)) 0, 100% var(--slant),
                100% 100%, var(--slant) 100%,0 calc(100% - var(--slant))
               );
    transition: color var(--t,0.3s), background-size 0.3s;
  }
  .button:focus-visible {
    outline-offset: calc(-1*var(--border));
    outline: var(--border) solid #000c;
    clip-path: none;
    background-size: 0 0;
  }
  
  .button:hover,
  .button:active{
    background-size: 100% 100%;
    color: #1F2937;
    --t: 0.2s 0.1s;
  }

  .button:active {
    --s: #0005;
    transition: none;
  }

  .active {
    background-color: #fff;
    color: #1F2937;
  }


/* Our-Story */

.our-story-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8em;

    padding: 10vh 10vw;
}

.our-story-section {
    display: flex;
    align-items: center;
    height: auto;
    gap: 3vw;
}

.our-story-img-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.our-story-img-container img {
    max-width: 30vw;
    box-shadow: 0 10px 30px 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;

    height: 100%;
    display: block;

    cursor: pointer;
    transition: transform 0.3s;
}

.our-story-img-container img:hover {
    transform: scale(1.05);
}

.our-story-text {
    flex-grow: 1;
}

.our-story-title {
    font-size: clamp(25px, 5rem, 70px);
}

.our-story-content {
    font-size: clamp(20px, 1.6rem, 50px);
    letter-spacing: 0;
    word-spacing: 0.3rem;
}